@import "tailwindcss";

:root {
  --background: #0E0E10;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 45px rgba(0, 255, 198, 0.12);
  }
  50% {
    box-shadow: 0 0 70px rgba(0, 255, 198, 0.18);
  }
  100% {
    box-shadow: 0 0 45px rgba(0, 255, 198, 0.12);
  }
}
